[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "ptn-set-transformer"
version = "0.6.1"
authors = [{ name = "Cody Martin", email = "codycmar10@gmail.com" }]
description = "Training and inference on protein sets (genomes)"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
]
dependencies = [
    "torch>=2",
    "transformers",
    "lightning>=2",
    "tables",
    "torch_geometric",
    "more-itertools",
    "pydantic>=2,<2.1",
    "lightning-cv[tune]",
    # use my custom fork
    "pydantic-argparse @ git+https://github.com/cody-mar10/pydantic-argparse.git",
    "einops",
]

[project.optional-dependencies]
tune = ["optuna>=3.1", "sqlite-utils"]

[project.scripts]
pst = "pst:main.main"
chtc-utils = "pst:utils.chtc.main.main"

[project.urls]
"Homepage" = "https://github.com/cody-mar10/protein_set_transformer"
"Bug Tracker" = "https://github.com/cody-mar10/protein_set_transformer/issues"

[tool.ruff]
src = ["src"]
line-length = 90

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"] # allow unused imports in `__init__.py`

[tool.coverage.run]
plugins = ["covdefaults"]
